@import "nav.css";
@import "home.css";
@import "usct.css";
@import "media.css";
@import "statue.css";

*{
  margin: 0px;
  padding: 0px;
  font-family: 'Staatliches', cursive;
}

body {
  background-image: url("../images/fullerStoryBackground.jpg");
  background-size: cover;
  /* font-family: 'Work Sans', sans-serif; */
  /* font-family: 'Erica One', cursive; */
  /* font-family: 'Work Sans', sans-serif; */
  /* font-family: 'Staatliches', cursive; */
}

:root {
  --navbar-background-color: #000000;
  --navbar-link-text: #E0A10E;
  --navbar-link-background:  rgb(49, 49, 49);
}

#Main {
  margin-bottom: 10vh;
  position: absolute;
  padding-top: 110px;
}

@media screen and (max-width: 479px) {

}
/* @media screen and (max-width: 479px){
  #background{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
  .heading{
     position: fixed;
     width: 100%;
     height: 18vw;
     font-family: 'Cinzel', serif;
     top: 0px;
     left: 0px;
     padding-bottom: 6%;
     text-align: center;
     line-height: 1;
     background-color: black;
     color: #E0A10E;
     z-index: 5;
  }
  #leftHeading{
    position: relative;
    top: -5.5vw;
    display: inline-block;
    font-size: 3vw;
  }
  #bigHeading{
    position: relative;
    top: -5.5vw;
    display: inline-block;
    font-size: 7vw;
  }
  #rightHeading{
    position: relative;
    top: -5.5vw;
    display: inline-block;
    font-size: 3vw;
  }
  #tagHeading{
    position: relative;
    top: -15vw;
    padding-top: 0%;
    font-size: 3vw;
  }
  #resolution{
    position: relative;
    width: 90%;
    margin-top: 3%;
    margin-left: 5%;
    z-index: 3;
  }
  #titleResolution{
    position: relative;
    text-align: center;
    margin-top: 5vw;
    font-size: 5vw;
    font-weight: bold;
    margin-left: 5%;
    margin-right: 5%;
    line-height: 1;
    z-index: 3;
  }
  #fullerStoryPic{
    position: relative;
    width: 80%;
    margin-top: 30%;
    margin-left: 10%;
    z-index: 3;
  }
  #mainText{
    position: relative;
    text-align: center;
    margin-top: 23vw;
    font-size: 4vw;
    font-weight: bold;
    margin-left: 5%;
    margin-right: 5%;
    line-height: 1;
    z-index: 3;
  }
  #listItems{
    position: relative;
    margin-top: 3vw;
    font-size: 4vw;
    font-weight: bold;
    margin-left: 9%;
    margin-right: 5%;
    z-index: 3;
    margin-bottom: 5%;
  }
  #mainText1{
    position: relative;
    text-align: center;
    margin-top: 2vw;
    font-size: 4vw;
    font-weight: bold;
    margin-left: 5%;
    margin-right: 5%;
    line-height: 1;
    z-index: 3;
  }
  #listItems1{
    position: relative;
    margin-top: 3vw;
    font-size: 4vw;
    font-weight: bold;
    margin-left: 2.5%;
    margin-right: 2.5%;
    z-index: 3;
    margin-bottom: 5%;
  }
  #menu{
    position: relative;
    display: inline-block;
    top: -18.5vw;
    background-color: black;
    font-size: 2.25vw;
    margin-bottom: 0vw;
    padding-left: 3%;
    padding-right: 3%;
    text-decoration: none;
    color: white;
  }
  #menu:hover{
    color: #E0A10E;
  }
  #petition{
     position: absolute;
     width: 95vw;
     height: 5vw;
     color: black;
     margin-top: 5%;
     margin-left: 1vw;
     margin-right: 1vw;
     font-weight: bold;
     font-size: 5vw;
     text-decoration: none;
     text-align: center;
     line-height: 1;
     z-index: 4;
     animation-name: flash;
     animation-duration: 0.8s;
     animation-timing-function: linear;
     animation-iteration-count: infinite;
     animation-direction: alternate;
     animation-play-state: running;
  }
  @keyframes flash {
    from {color: #cc3300;}
    to {color: black;}
  }

} */



/* @media screen and (min-width: 480px) and (max-width: 1100px){
  #background{
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
  .heading{
    position: fixed;
    width: 100%;
    height: 18vw;
    font-family: 'Cinzel', serif;
    top: 0px;
    left: 0px;
    padding-bottom: 2.5%;
    text-align: center;
    line-height: 1;
    background-color: black;
    color: #E0A10E;
    z-index: 5;
  }
  #leftHeading{
    position: relative;
    top: -5.5vw;
    display: inline-block;
    font-size: 3vw;
  }
  #bigHeading{
    position: relative;
    top: -5.5vw;
    display: inline-block;
    font-size: 7vw;
  }
  #rightHeading{
    position: relative;
    top: -5.5vw;
    display: inline-block;
    font-size: 3vw;
  }
  #tagHeading{
    position: relative;
    top: -15vw;
    padding-top: 0%;
    font-size: 3vw;
  }
  #resolution{
    position: relative;
    width: 90%;
    margin-top: 2%;
    margin-left: 5%;
    z-index: 4;
  }
  #titleResolution{
    position: relative;
    text-align: center;
    margin-top: 5vw;
    font-size: 5vw;
    font-weight: bold;
    margin-left: 5%;
    margin-right: 5%;
    line-height: 1;
    z-index: 3;
  }
  #fullerStoryPic{
    position: relative;
    width: 40%;
    margin-top: 21%;
    margin-left: 30%;
    z-index: 4;
  }
  #mainText{
    position: relative;
    text-align: center;
    margin-top: 23vw;
    font-size: 3vw;
    font-weight: bold;
    margin-left: 5%;
    margin-right: 5%;
    line-height: 1;
    z-index: 3;
  }
  #listItems{
    position: relative;
    margin-top: 3vw;
    font-size: 3vw;
    font-weight: bold;
    margin-left: 9%;
    margin-right: 5%;
    z-index: 3;
    margin-bottom: 5%;
  }
  #mainText1{
    position: relative;
    text-align: center;
    top: 0vw;
    font-size: 3vw;
    font-weight: bold;
    margin-left: 5%;
    margin-right: 5%;
    line-height: 1;
    z-index: 3;
  }
  #listItems1{
    position: relative;
    margin-top: 3vw;
    font-size: 2.6vw;
    font-weight: bold;
    margin-left: 2.5%;
    margin-right: 2.5%;
    z-index: 3;
    margin-bottom: 5%;
  }
  #menu{
    position: relative;
    display: inline-block;
    top: -18.5vw;
    background-color: black;
    font-size: 2vw;
    margin-bottom: 1vw;
    padding-left: 2%;
    padding-right: 2%;
    text-decoration: none;
    color: white;
  }
  #menu:hover{
    color: #E0A10E;
  }
  #petition{
     position: absolute;
     width: 95vw;
     height: 5vw;
     color: black;
     margin-top: 5%;
     margin-left: 1vw;
     margin-right: 1vw;
     font-weight: bold;
     font-size: 5vw;
     text-decoration: none;
     text-align: center;
     line-height: 1;
     z-index: 4;
     animation-name: flash;
     animation-duration: 0.8s;
     animation-timing-function: linear;
     animation-iteration-count: infinite;
     animation-direction: alternate;
     animation-play-state: running;
  }
  @keyframes flash {
    from {color: #cc3300;}
    to {color: black;}
  }
}
@media screen and (min-width: 1101px){
  #background{
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    z-index: 1;
  }
  .heading{
    position: fixed;
    width: 100%;
    height: 11.5vw;
    font-family: 'Cinzel', serif;
    top: 0px;
    padding-top: 1vw;
    left: 0px;
    text-align: center;
    line-height: 1;
    background-color: black;
    color: #E0A10E;
    z-index: 5;
  }
  #leftHeading{
    position: relative;
    top: -5.5vw;
    display: inline-block;
    font-size: 3vw;
  }
  #bigHeading{
    position: relative;
    top: -5.5vw;
    display: inline-block;
    font-size: 5vw;
  }
  #rightHeading{
    position: relative;
    top: -5.5vw;
    display: inline-block;
    font-size: 3vw;
  }
  #tagHeading{
    position: relative;
    top: -12.5vw;
    padding-top: 0%;
    font-size: 2vw;
  }
  #resolution{
    position: relative;
    width: 60%;
    margin-top: 0%;
    margin-left: 20%;
    padding-bottom: 0px;
    margin-bottom: 0px;
    z-index: 4;
  }
  #titleResolution{
    position: relative;
    text-align: center;
    margin-top: 5vw;
    font-size: 3.5vw;
    font-weight: bold;
    margin-left: 5%;
    margin-right: 5%;
    line-height: 1;
    z-index: 3;
  }
  #fullerStoryPic{
    position: relative;
    width: 60%;
    margin-top: 13%;
    margin-left: 20%;
    padding-bottom: 0px;
    margin-bottom: 0px;
    z-index: 4;
  }
  #mainText{
    position: relative;
    text-align: center;
    margin-top: 2%;
    width: 95%;
    margin-left: 2.5%;
    font-size: 2vw;
    font-weight: bold;
    line-height: 1;
    z-index: 3;
  }
  #mainText1{
    position: relative;
    text-align: center;
    margin-top: 1vw;
    width: 95%;
    margin-left: 2.5%;
    margin-bottom: 2%;
    font-size: 2vw;
    font-weight: bold;
    line-height: 1;
    z-index: 3;
  }
  #listItems{
    position: relative;
    top: 0vw;
    width: 60%;
    margin-left: 4%;
    margin-bottom: 0px;
    padding-bottom: 0px;
    font-size: 2vw;
    font-weight: bold;
    line-height: 1;
    z-index: 3;
  }
  #listItems1{
    position: relative;
    margin-top: 10vw;
    width: 60%;
    margin-left: 4%;
    margin-bottom: 0px;
    padding-bottom: 0px;
    font-size: 1.65vw;
    font-weight: bold;
    line-height: 1;
    z-index: 3;
  }
  #menu{
    position: relative;
    display: inline-block;
    top: -16vw;
    font-size: 1.5vw;
    padding-top: 1%;
    padding-left: 1.25%;
    padding-right: 1.25%;
    padding-bottom: 0px;
    text-decoration: none;
    color: white;
  }
  #menu:hover{
    color: #E0A10E;
  }
  #petition{
     position: absolute;
     width: 60vw;
     height: 5vw;
     color: black;
     margin-top: 13%;
     margin-left: 1vw;
     margin-right: 1vw;
     font-weight: bold;
     font-size: 3.5vw;
     text-decoration: none;
     text-align: center;
     line-height: 1;
     z-index: 4;
     animation-name: flash;
     animation-duration: 0.8s;
     animation-timing-function: linear;
     animation-iteration-count: infinite;
     animation-direction: alternate;
     animation-play-state: running;
  }
  @keyframes flash {
    from {color: #cc3300;}
    to {color: black;}
  }
} */